.secondSection {
  ul {
    height: 56rpx;
    display: flex;
    align-items: center;
    justify-content: space-around;
    li {
      color: white;
      list-style: none;
      position: relative;
      .line {
        position: absolute;
        bottom: -8px;
        height: 4px;
        width: 100%;
        justify-self: center;
        align-self: center;
        background: green;
        border-radius: 6px;
        opacity: 0;
        transition: opacity 0.3s;
        &.visible {
          opacity: 1;
        }
      }
    }
  }

  //tab content
  section {
    padding: 16px;
    h2 {
      color: white;
    }
    img {
      margin-top: 16px;
      border-radius: 6px;
      width: 100%;
    }
  }
}
